body {
  margin: 0;
  font-family: sans-serif;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #020617;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.hero img {
  width: 280px;
  border-radius: 15px;
}

section {
  padding: 2rem;
}

h2 {
  color: #38bdf8;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.card {
  background: #1e293b;
  padding: 1rem;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 1rem;
  background: #020617;
}
